@import '../base/base.scss';
@import '../theme/variable.scss';




// header
header {
    position: fixed;
    width: 100%;
    background-color: $bg-c1-secondary;
    z-index: 100;

    .container {
        .port {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header_logo {
                img {}
            }

            .menu-port {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 75%;

                nav {
                    .navbar-nav {
                        .nav-item {
                            padding-left: 20px;
                            position: relative;
                            transition: 0.3s;

                            &::before {
                                position: absolute;
                                left: 45px;
                                top: 81px;
                                content: "";
                                height: 8px;
                                width: 8px;
                                border-radius: 50%;
                                background-color: $bg-c1-primary;
                                transform: scale(0);
                                transition: 0.3s;
                            }

                            &:hover {
                                .nav-link {
                                    color: $text-c1-primary;

                                }

                                &::before {
                                    transform: scale(1);
                                }
                            }

                            .nav-link {
                                font-weight: $text-semibold;
                                line-height: 80px;
                                font-size: 13px;
                                color: $text-c1-dark;
                            }
                        }
                    }
                }

                .top-bar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        padding: 1.1em 1.5em;
                        margin: 6px;
                        text-decoration: none;
                        font-weight: 500;
                        border-radius: 50px;
                        background-color: $bg-c1-primary;
                        font-size: .9rem;
                        display: inline-block;
                        line-height: 1;
                        width: auto;
                        color: $text-c1-light;
                        box-shadow: 0 0 0 3em #b61984 inset;
                        border: none;
                        transition: all 300ms ease;

                        &:hover {
                            color: $text-c1-primary;
                            background-color: $bg-none;
                            box-shadow: 0 0 0 1px $bg-c1-primary inset;
                        }

                        i {}

                        span {}
                    }

                    .top-bar_app {
                        i {
                            padding-left: 5px;
                            transition: 0.3s;

                            &:hover {
                                color: $text-c1-primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

// carousel
.carousel {
    background-image: (url('../../Img/yellow_top_wave_01.png'), url('../../Img/Violet_top_left_wave.png'));
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom;
    padding-top: 70px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .carousel_title {

            #carousel_title_about-us {
                font-size: 1.1rem;
                margin-bottom: 0.5em;
                font-weight: $text-semibold;
                color: $text-c1-primary;
                display: block;
            }

            #carousel_title_content {
                line-height: 1.2;
                font-weight: $text-bold;
                font-size: 3.7rem;
            }
        }

        .carousel_img {
            img {}
        }
    }
}

// Our team
.our-team {


    .container {
        .our-team__content {
            .col {
                padding: 20px;

                .card {
                    border-radius: 10px;
                    overflow: hidden;
                    border: none;
                    transition: 0.3s;

                    &:hover {
                        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                    }

                    .card__img {
                        height: 45%;
                        overflow: hidden;

                        img {
                            transform: scale(1);
                            transition: 0.3s;

                            &:hover {
                                transform: scale(1.1);
                            }

                        }
                    }

                    .card-body {
                        padding: 20px 15px;
                        text-align: center;

                        .card__title-1 {
                            font-size: .75rem;
                            margin-bottom: 0.7em em;
                            color: $text-c1-primary;
                            font-weight: $text-semibold;
                        }

                        .card__name {
                            font-size: 1.55rem;
                            font-weight: $text-bold;
                            color: $text-c1-dark;
                        }

                        .card__content {
                            font-weight: $text-regular;
                            line-height: 1.8em;
                            font-size: 15px;
                            color: $text-c1-dark;
                            font-weight: $text-regular;
                        }
                    }
                }
            }

        }
    }
}

// find-form
.find-form {
    background-image: url('../../Img/accent_bottom_wave_01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55%;

    .container {
        padding: 0px 60px;

        .find-form__img {
            img {}
        }

        .find-form__card {

            .card {
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                border: none;

                .card-body {
                    .card-title {
                        font-size: 2.5rem;
                        font-weight: $text-bold;
                        color: $text-c1-dark;
                        margin-bottom: 50px;
                        margin-top: 20px;
                    }

                    form {
                        .form-row {
                            display: flex;
                            justify-content: space-between;

                            #form-group__name {
                                position: relative;

                                i {
                                    position: absolute;
                                    left: 11%;
                                    top: 29%;
                                    color: $text-c1-primary;
                                }

                                input {
                                    border-radius: 50px;
                                    background: $bg-none;
                                    font-weight: $text-regular;
                                    line-height: 1.8em;
                                    width: 100%;
                                    height: 3em;
                                    font-size: 0.8em;
                                    border: 1px solid rgba(0, 0, 0, .1);
                                    padding: 1em 1em 1em 3.5em;
                                    transition: 0.3s;

                                    &:focus {
                                        outline: none;
                                        box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                                        border: 1px solid rgba(0, 0, 0, .3);
                                    }


                                }

                            }

                            #form-group__email {
                                position: relative;

                                i {
                                    position: absolute;
                                    left: 11%;
                                    top: 29%;
                                    color: $text-c1-primary;

                                }

                                input {
                                    border-radius: 50px;
                                    background: $bg-none;
                                    font-weight: $text-regular;
                                    line-height: 1.8em;
                                    width: 100%;
                                    height: 3em;
                                    font-size: 0.8em;
                                    border: 1px solid rgba(0, 0, 0, .1);
                                    padding: 1em 1em 1em 3.5em;

                                    &:focus {
                                        outline: none;
                                        box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                                        border: 1px solid rgba(0, 0, 0, .3);
                                    }

                                }
                            }
                        }

                        #form-group__langue {
                            position: relative;

                            i {
                                position: absolute;
                                left: 4%;
                                top: 29%;
                                color: $text-c1-primary;

                            }

                            select {
                                border-radius: 50px;
                                background: $bg-none;
                                font-weight: $text-regular;
                                line-height: 1.8em;
                                width: 100%;
                                height: 3em;
                                font-size: 0.8em;
                                border: 1px solid rgba(0, 0, 0, .1);
                                padding-left: 3.5em;

                                &:focus {
                                    outline: none;
                                    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                                    border: 1px solid rgba(0, 0, 0, .3);
                                }

                                option {}
                            }

                        }

                        #form-group__mess {
                            position: relative;

                            i {
                                position: absolute;
                                left: 4%;
                                top: 20%;
                                color: $text-c1-primary;
                            }

                            textarea {
                                border-radius: 20px;
                                background: $bg-none;
                                font-weight: $text-regular;
                                line-height: 1.8em;
                                width: 100%;
                                height: 90px;
                                font-size: 0.8em;
                                border: 1px solid rgba(0, 0, 0, .1);
                                padding-left: 3.5em;
                                padding-top: 1em;
                                margin-bottom: 20px;

                                &:focus {
                                    outline: none;
                                    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                                    border: 1px solid rgba(0, 0, 0, .3);
                                }

                            }
                        }

                        #btnSend {
                            height: 4em;
                            line-height: 3.1em;
                            box-shadow: 0 0 0 3em #b61984 inset;
                            font-size: 0.8em;
                            letter-spacing: 1px;
                            font-weight: $text-semibold;
                            width: 50%;
                            border: none;
                            color: $text-c1-light;
                            border-radius: 50px;
                            margin-bottom: 70px;
                            transition: all 300ms ease;

                            &:hover {
                                color: $text-c1-primary;
                                background-color: $bg-none;
                                box-shadow: 0 0 0 1px $bg-c1-primary inset;
                            }

                        }
                    }
                }
            }
        }
    }
}

// Footer
footer {
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url('../../Img/footer_background.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;


    .container {
        .footer__wrap {
            color: $text-c1-light;

            .contact {
                h3 {
                    margin-bottom: 35px;
                    font-size: 23.35px;
                    font-weight: $text-bold;
                }

                #adress {
                    margin-bottom: 5px;

                    i {
                        font-size: 15px;
                    }

                    span {
                        font-size: 13.5px;
                        padding-left: 0.8em;
                        line-height: 1.1;
                        font-weight: $text-regular;
                    }
                }

                #phone {
                    margin-bottom: 5px;

                    i {
                        font-size: 15px;
                    }

                    span {
                        font-size: 13.5px;
                        padding-left: 0.8em;
                        line-height: 1.1;
                        font-weight: $text-regular;
                    }
                }

                #schedule {
                    margin-bottom: 5px;

                    i {
                        font-size: 15px;

                    }

                    span {
                        font-size: 13.5px;
                        padding-left: 0.8em;
                        line-height: 1.1;
                        font-weight: $text-regular;
                    }
                }

                .footer__app {
                    margin-bottom: 5px;

                    i {
                        transition: 0.3s;
                        margin-right: 8px;
                        margin-top: 20px;
                        font-size: 15px;


                        &:hover {
                            color: $text-c1-dark;
                        }
                    }
                }
            }

            .links {
                h3 {
                    margin-bottom: 35px;
                    font-size: 23.35px;
                    font-weight: $text-bold;
                }

                p {
                    font-size: 13.5px;
                    line-height: 1.1;
                    font-weight: $text-regular;
                    position: relative;
                    margin-bottom: 23px;

                    &::before {
                        position: absolute;
                        top: 170%;
                        content: "";
                        height: 1px;
                        width: 90%;
                        background-color: rgba(69, 67, 67, 0.3);
                    }

                    a {
                        color: $text-c1-light;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .about {
                h3 {
                    margin-bottom: 35px;
                    font-size: 23.35px;
                    font-weight: $text-bold;

                }

                p {
                    font-size: 13.5px;
                    line-height: 1.1;
                    font-weight: $text-regular;
                    position: relative;
                    margin-bottom: 23px;

                    &::before {
                        position: absolute;
                        top: 170%;
                        content: "";
                        height: 1px;
                        width: 90%;
                        background-color: rgba(69, 67, 67, 0.3);
                    }

                    a {
                        color: $text-c1-light;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .news {
                h3 {
                    margin-bottom: 35px;
                    font-size: 23.35px;
                    font-weight: $text-bold;

                }

                input {
                    color: $text-c1-light;
                    border-radius: 50px;
                    background: $bg-none;
                    font-weight: $text-regular;
                    line-height: 1.8em;
                    width: 70%;
                    height: 3em;
                    font-size: 0.8em;
                    border: 1px solid rgba(0, 0, 0, .1);
                    text-align: center;

                    &::placeholder {
                        color: $text-c1-light;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                        border: 1px solid rgba(0, 0, 0, .3);
                    }


                }

                button {
                    height: 3em;
                    line-height: 1.8em;
                    font-size: 0.8em;
                    letter-spacing: 1px;
                    font-weight: $text-semibold;
                    width: 70%;
                    border: none;
                    color: $text-c1-dark;
                    border-radius: 50px;
                    margin-top: 10px;
                    margin-bottom: 70px;
                    transition: all 300ms ease;
                    box-shadow: 0 0 0 3em $bg-c1-secondary inset;

                    &:hover {
                        // color: $text-c1-light;
                        // background-color: $bg-none;
                        // box-shadow: 0 0 0 1px $bg-c1-primary inset;
                        // border: 2px $bg-c1-secondary;

                        color: $text-c1-light;
                        background-color: rgba(0, 0, 0, 0);
                        box-shadow: 0 0 0 1px $bg-c1-secondary inset;
                    }

                }
            }
        }
    }
}